

header{

}

header .navbar ul{
    list-style: none;
}

header .navbar ul li{
    position: relative;
    float: left;
    text-align: center;
}

.navbar ul li{
    transition: background 0.4s linear;
}

header .navbar ul li a{
    font-size: 20px;
    padding: 10px 50px;
    color: #333;
    display: block;
}

header .navbar ul li:hover{
    background: #8F7247;
}
.navbar ul > li > ul > li:hover{
    background: #fff;
}

header .navbar ul li ul{
    position: absolute;
    left: 0;
    background: #fff;
    display: none;
}

header .navbar ul li ul li{
    width: 100%;
    border-right: 1px solid rgba(0,0,0,.4);
}


header .navbar ul li:hover > ul{
    display: flex;
    background-color: white;
    position: fixed;
    margin-left: 456px;
    width: 647px;
    padding: 0;
}

p{
    color: #2C374D;
    font-size: 14px;
}

#img{
    filter: invert(100%);
}

#scris{
    padding-top:10px;
    color: #fff;
    font-size: 15px;
}